body[data-aos-delay='3100'] [data-aos],
[data-aos][data-aos][data-aos-delay='3100'] {
  transition-delay: 3100ms;
}

body[data-aos-delay='3300'] [data-aos],
[data-aos][data-aos][data-aos-delay='3300'] {
  transition-delay: 3300ms;
}




body[data-aos-delay='3500'] [data-aos],
[data-aos][data-aos][data-aos-delay='3500'] {
  transition-delay: 3500ms;
}

body[data-aos-delay='4000'] [data-aos],
[data-aos][data-aos][data-aos-delay='4000'] {
  transition-delay: 4000ms;
}

body[data-aos-delay='4500'] [data-aos],
[data-aos][data-aos][data-aos-delay='4500'] {
  transition-delay: 4500ms;
}

body[data-aos-delay='5000'] [data-aos],
[data-aos][data-aos][data-aos-delay='5000'] {
  transition-delay: 5000ms;
}

body[data-aos-delay='5500'] [data-aos],
[data-aos][data-aos][data-aos-delay='5500'] {
  transition-delay: 5500ms;
}

body[data-aos-delay='6000'] [data-aos],
[data-aos][data-aos][data-aos-delay='6000'] {
  transition-delay: 6000ms;
}

body[data-aos-delay='6500'] [data-aos],
[data-aos][data-aos][data-aos-delay='6500'] {
  transition-delay: 6500ms;
}

body[data-aos-delay='7000'] [data-aos],
[data-aos][data-aos][data-aos-delay='7000'] {
  transition-delay: 7000ms;
}

body[data-aos-delay='7500'] [data-aos],
[data-aos][data-aos][data-aos-delay='7500'] {
  transition-delay: 7500ms;
}

body[data-aos-delay='8000'] [data-aos],
[data-aos][data-aos][data-aos-delay='8000'] {
  transition-delay: 8000ms;
}

body[data-aos-delay='8500'] [data-aos],
[data-aos][data-aos][data-aos-delay='8500'] {
  transition-delay: 8500ms;
}

body[data-aos-delay='9000'] [data-aos],
[data-aos][data-aos][data-aos-delay='9000'] {
  transition-delay: 9000ms;
}

body[data-aos-delay='9500'] [data-aos],
[data-aos][data-aos][data-aos-delay='9500'] {
  transition-delay: 9500ms;
}

body[data-aos-delay='1000'] [data-aos],
[data-aos][data-aos][data-aos-delay='1000'] {
  transition-delay: 1000ms;
}

body[data-aos-delay='1500'] [data-aos],
[data-aos][data-aos][data-aos-delay='1500'] {
  transition-delay: 1500ms;
}

