body {
  font-family: "Open Sans", sans-serif;
  color: #555555;
}
a {
  color: #f0950e;
}

a:hover {
  color: #f0950e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/*......Preloader........*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fc9300;
  display:flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*......End Preloader.......*/


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #ff710d;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #ad6902;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 100px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: black;
  box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    height: 70px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  width: 100%;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu .nav-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu .nav-logo {
  padding: 0 20px;
}

.navbar-logo{
  width:70px;
  height:auto;
}

.nav-menu a {
  display: block;
  position: relative;
  color:whitesmoke;
  padding: 15px 25px;
  transition: 0.3s;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #f0950e;
 
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: black;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  color: whitesmoke;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #f0950e;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #f0950e;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: black;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: whitesmoke;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #f0950e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  opacity:0.95;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background : rgba(0,0,0,0.5);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
}

video { 
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

.hero-container2 { 
  position: absolute;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height:100%;
  width:100%;
}

#hero .hero-logo {
width:280px;
height:auto;
}


#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Aclonica';
  font-weight:1500;
  color:rgb(255, 113, 13);
  /* letter-spacing: 0.5rem; */
}

#hero .book-buttons{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  max-width:100%;
  
}

#hero .book-buttons > div{
  padding:10px 5px;
}

#hero .book-button {
  background-color:#003545;
  color:white; 
  font-weight: 500;
  border-radius: 7px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; 
}

#hero .book-button:hover {
  background-color:#ff720d;
  color:black;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}




/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: whitesmoke;
}

.section-title {
  text-align: center;
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color:#ffbd69;
}

.section-title p {
  margin-bottom: 0;
  color: #aeaeae;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/

.about {
  background : #121212;
  /* background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../img/music_images/studio_images/about_logo_black.jpg'); */
  background-size:cover;
  background-repeat:no-repeat;
  color:whitesmoke;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);

}

.about-title {
  text-align: center;
  padding-bottom: 40px;
}

.about-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: whitesmoke;
  letter-spacing: 0.3rem;
}

.about-title p {
  margin-bottom: 0;
  color: #aeaeae;

}

.about .image {
  padding: 20px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.about .content p{
  font-size:14px;
}

.about .content p:last-child {
  margin-bottom: 0;

}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  /* background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url('../img/music_images/studio_images/about_logo_black.jpg'); */
  background: black;
  /* background-size: cover; */
  
}

.services-container {
  opacity: 1;
  height:100%;
}

.service-block{
  display:flex;
  border: 2px solid whitesmoke;
  height:300px;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-position:center center;
  background-size:100% 100%;
}

.service-block-content{
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.service-block h5{
  /* font-family: 'Bookman'; */
  font-weight:bold;
  font-size:18px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color:white;
}

.service-block p{
color:white;
font-size:10px;
display:none;


}

.service-block button{
  border: 2px solid white;
  background: none;
  padding:7px 20px;
  text-transform: capitalize;
  color:white;
  letter-spacing: 0.1rem;
  display:none;
 
}


@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}




/*-------------------------------EACH BLOCK-----------------------------*/

.studio-block {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/about_logo_black.jpg');
}
.mixing-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/bg1.jpg');
}
.mastering-block{
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('../img/services/bg2.jpg');
}
.academy-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/marshall.jpg');
}
.acoustic-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/main_carousel3.JPG');
}
.publishing-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/main_carousel5.jpg');
}
.film-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/services.jpg');
}
.IT-block{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../img/services/it.jpg');
}








/*-------------------------------HOVER EFFECTS-----------------------------*/
.service-block:hover  p{
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.service-block:hover  button{
  display: block;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.service-block:hover{
  cursor: pointer;
  
}

.studio-block:hover{
  background-image: linear-gradient(rgba(90, 9, 2, 0.5),rgb(90, 9, 2, 0.5)),url('../img/services/about_logo_black.jpg');
  background-size: 110% 110%;
}
.mixing-block:hover{
  background-image: linear-gradient(rgba(90, 9, 2, 0.5),rgb(90, 9, 2, 0.5)),url('../img/services/bg1.jpg');
  background-size: 110% 110%;
}
.mastering-block:hover{
  background-image: linear-gradient(rgba(90, 9, 2, 0.5),rgb(90, 9, 2, 0.5)),url('../img/services/bg2.jpg');
  background-size: 110% 110%;
}
.academy-block:hover{
  background-image: linear-gradient(rgba(66, 54, 2, 0.5),rgb(66, 54, 2, 0.5)),url('../img/services/marshall.jpg');
  background-size: 110% 110%;
}
.acoustic-block:hover{
  background-image: linear-gradient(rgba(92, 75, 2, 0.2),rgb(92, 75, 2, 0.2)),url('../img/services/main_carousel3.JPG');
  background-size: 110% 110%;
}
.publishing-block:hover{
  background-image: linear-gradient(rgba(2, 43, 90, 0.5),rgb(2, 43, 90, 0.5)),url('../img/services/main_carousel5.jpg');
  background-size: 110% 110%;
}
.film-block:hover{
  background-image: linear-gradient(rgba(2, 43, 90, 0.5),rgb(2, 43, 90, 0.5)),url('../img/services/services.jpg');
  background-size: 110% 110%;
}
.IT-block:hover{
  background-image: linear-gradient(rgba(2, 43, 90, 0.5),rgb(2, 43, 90, 0.5)),url('../img/services/it.jpg');
  background-size: 110% 110%;
}






/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  background-image : linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../img/services/bg2.jpg');
  /* background:#121212; */
  background-size: cover;
  width:100%;
  
}

.whyus-video {
  /* background-image: url("../assets/img/music_images/studio_images/thumbnail.JPG"); */
  background-image : url("../img/music_images/studio_images/thumbnail.JPG");
  box-shadow: 0 0 16px #ffac41;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}

.why-us .content {
  display:flex;
  justify-content: left;
  padding-top:40px;
  
}

.whyus-list-arrow {
  color:#ff710d;
  font-size:30px !important;
}

.whyus-listitem {
  font-size:20px;
  padding-bottom: 25px;
  color:#ffffff;
  font-weight:400;
  font-family: Futura, Helvetica;
}

.why-us .content h3 {
  font-weight: 600;
  font-size: 75px;
  color:#ffac41;
  letter-spacing: 7px;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
  font-size: 15px;
  color: whitesmoke;
}

.whyus-content {
  padding: 30px 5px 5px 5px;
  color:whitesmoke;
}

.why-us .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.why-us .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ff710d 50%, rgba(236, 208, 115, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.why-us .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(243, 211, 122, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
  border-left: 15px solid #7cc576;
  transform: scale(20);
}

.why-us .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}


@media (max-width: 992px) {
  .why-us .content {
    padding-top: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio {
  /* background-image : url('../img/music_images/bg5.jpg'); */
  background: black;
  background-size: cover;
}

.portfolio-title {
  text-align: center;
  padding-bottom: 40px;
}

.portfolio-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #ffbd69;
}

.portfolio-title p {
  margin-bottom: 0;
  color:#aeaeae;
  
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 18px 12px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: #555555;
  transition: all 0.3s ease-in-out;
  margin: 0 4px 10px 4px;
  background: whitesmoke;
  border-radius: 4px;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #7cc576;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(21, 21, 21, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #7cc576;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Soundcloud
--------------------------------------------------------------*/

.soundcloud {
  background: #121212;
  background-size: cover;
}

.soundcloud h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #ffbd69;
  text-align: center;
}

.soundcloud-frame {
  margin-top: 30px;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 60px 0;
  background: #121212;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
}

.testimonials .quote-icon {
  text-align: center;
  margin-bottom: 30px;
}

.testimonials .quote-icon i {
  color: #ff710d;
  font-size: 24px;
  padding: 18px;
  border-radius: 50px;
  border: 2px solid #ff710d;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 30px auto;
  font-size: 20px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.testimonials .owl-dot.active {
  background-color: #ff710d !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  width: 100%;
  background:#121212;
  padding: 15px 0;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

.clients-title {
  text-align: center;
  padding: 30px 0;
}

.clients-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color:rgb(35, 35, 35);
}

.clients-title p {
  margin-bottom: 0;
  color: #9b9a9a;
}

.clients-content {
  padding:10px 40px;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.clients-content > div {
  width:200px;
  height:auto;
  margin:20px;
  text-align: center;
}


.clients img {
  width: 40%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  /* filter: grayscale(100%); */

}

.clients img:hover {
  -webkit-filter: none;
  filter: none;
  transform: scale(1.2);
}


@media (max-width: 768px) {
  .clients img {
    width: 60%;
  }

}

@media (max-width: 575px) {

  .clients img {
    width: 50%;
  }

  .clients-content > div {
    width:150px;
  }


}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  /* background-image :url('../img/team/teambg.jpg'); */
  background:black;
  padding: 60px 0;
}

.team-title {
  text-align: center;
  padding-bottom: 40px;

}

.team-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding-bottom: 0;
  color: #ffbd69;
}

.team-title p {
  margin-bottom: 0;
  color: #dddcdc;
}


.team .member {
  margin-bottom: 20px;
  overflow: hidden;
}

.team .main-member-info {
  padding:10px 10px;
}

.specialization {
  margin-top:10px;
}


.team .main-member-info h4{
  font-weight: 700;
  font-size: 30px;
  color: whitesmoke;
}
.team .main-member-info h5{

  font-weight:800;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
  color: #ff710d;
}
.team .main-member-info p{
    
  font-size: 14px;
  line-height: 26px;
  color: #888888;
}

.team .main-member-info ul{
  font-family: Times, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #c7c8ca;
}

.list-arrow {
  color:#ff710d;
}

.members-div {
  padding-top:50px;
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}


.team .member .member-info h4 {
  font-weight: 700;
  margin: 15px 0 5px 0;
  font-size: 18px;
  color: whitesmoke;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 5px;
  color: #ff710d;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #888888;
}

.team .member:hover .social {
  bottom: 0;
  opacity: 1;
  transition: bottom ease-in-out 0.4s;
}


@media (max-width: 550px) {
  .team .main-member-info {
    padding:10px 30px;
  }
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq{
  /* background-image: url('../img/faq-background.jpg'); */
  background:black;
  background-size:cover;
  
}


.faq .faq-list {
  padding: 0;
  list-style: none;
  
}

.faq .faq-list li {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #7cc576;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-right: 25px;
  
}

.faq .faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  color:whitesmoke;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color:whitesmoke;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color:rgb(236, 233, 233);
}

.faq .faq-list a.collapsed:hover {
  color: #ffbd69;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background : #121212;
  color:#ffbd69;
}

.contact .info {
  width: 100%;
  height: 100%;
  background : #121212;

  padding: 20px;
  border-radius: 5px;
}

.contact .info i {
  font-size: 20px;
  color:#ffbd69;
  float: left;
  width: 44px;
  height: 44px;
  background: #f7efd5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: whitesmoke;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #f3f2f2;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #ffbd69;
  color: #fff;
}


.contact .emailform .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .emailform input, .contact .emailform textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .emailform input {
  height: 44px;
}

.contact .emailform textarea {
  padding: 10px 12px;
}

.contact .emailform {
  width: 100%;
  background : #121212;
  padding: 20px;
  border-radius: 5px;
  color:whitesmoke;
}

.contact .emailform .form-group {
  padding-bottom: 8px;
}

.contact .emailform .form-group input{
  background:#121212;
  border: 1px solid grey;
}

.contact .emailform .form-group textarea{
  background:#121212;
  border: 0px;
  border: 1px solid grey;
}


.sendEmail {
  background: #ffbd69;
  border: 0;
  padding: 10px 24px;
  color: black;
  transition: 0.4s;
  border-radius: 4px;
  font-weight:600;
}

.sendEmail:hover {
  background: #ffa600;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/



.portfolio-details {
  padding-top: 0;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #7cc576 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: rgb(34, 34, 34);
  color: rgb(214, 214, 214);
  font-size: 13px;
  line-height: 18.2px;
  position: relative;
  font-family: Helvetica, sans-serif;
}

.footer-content {
  padding: 50px 80px 20px 80px;
}

.footer-column {
  display:flex;
  flex-direction: column;
  padding: 10px 10px;
  
}

#footer h4{
  font-family: "Futura";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  padding: 10px 0;
  letter-spacing: 1px;
  color:rgb(247, 242, 242);
}

#footer a{
  font-family: Helvetica, sans-serif, Arial;
  font-size: 12px;
  line-height: 17px;
  padding: 7px 0;
  color:grey;
}

#footer a:hover{
  color:#ffbd69;
  text-decoration:underline;
}

#footer ul{
  list-style: none;
  padding-inline-start: 0px;
}

#footer li{
  line-height: 24px;
}


/*------------------------------------------------First column------------------------------------------------*/


/*...Mix Room Logo....*/
.footer-logo {
  width:70px;
  height:auto;
}

.footer-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*.... Social.... */

.footer-social-section {
  padding: 10px 0;
}

.footer-social-icon{
  font-size:30px; 
  color: rgb(153,153,153);
}

.footer-social-icon:hover{
  cursor: pointer;
  transform: scale(1.1);
  color: #ffbd69;
  
}


/*.... About.... */

.footer-about-section {
  padding: 10px 0;
}

.footer-about-content {
  position: relative;
  width:100%;
}

/**.....Address......**/

.footer-address-section {
  padding: 10px 0;
}

/**.....Review (Rest of the properties in another css file......**/

.review-section {
  padding: 10px 0;
}


/*------------------------------------------------Second column------------------------------------------------*/


/**.....Services......*/

.footer-services{
  padding: 10px 0;
}

.footer-services a, .footer-book a{
  color: rgb(192, 189, 189) !important;
  font-size: 13px !important;
  line-height: 24px;
  font-family: Helvetica, sans-serif;
}

/*------------------------------------------------Third column------------------------------------------------*/

/**.......News.........*/

.footer-news {
  padding: 10px 0;
}

.footer-news-content{
  display:flexbox;
  flex-direction: column;
  justify-content: space-between;
 
}

.news-from-database { 
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}


.news-from-database > div{
  position: relative;
  margin: 10px;
}

.news-first-col {
  width:30%;
  margin-right:20px !important;
}

.news-second-col {
  text-align: justify;
  text-justify: inter-word;
  width:70%;
}

.news-from-database h5{
  font-size:14px;
  color:whitesmoke;
}

h5.news-title{
line-height: 14px;
}


p.time-content{
  font-size:10px;
  font-style: italic;
  color:rgb(124, 123, 123);
  line-height: 7px;
}

p.news-content {
  font-size:11px;
}

@media (max-width: 700px) {


  .news-first-col {
    margin-right:30px !important;
  }

  .news-from-database { 
    margin-left:-30px;
  }
}

@media(min-width: 800px) {

  .news-first-col {
    padding-right:5px !important;
  }
}




/*------------------------------------------------Bottom footer ------------------------------------------------*/
#footer .footer-bottom {
  border-top: 1px solid #222222;
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  padding-top: 5px;
}